.sidebar {
  // width: 100%;
  height: 100vh;
  background-color: var(--white);
  width: 300px;
  padding: 10px 14px;
  transition: all 0.5s ease-in-out;

  @media only screen and (max-width: 600px) {
   height: 100vh;

  }

  li {
    height: 3.125rem;
    // background: red;
    margin-top: 0.625rem;
    list-style: none;
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 21px;
  }

  header {
    position: relative;

    .header__text {
      display: flex;
      align-items: center;
      transition: all 0.5s ease-in-out;

      &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 1.06rem;
        line-height: 21px;
        text-align: center;

        /* identical to box height */

        color: var(--slate-grey);
      }
    }

    .header__icon {
      position: absolute;
      top: 50%;
      right: -9%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(-50%);
      height: 1.56rem;
      width: 1.56rem;
      background-color: var(--brand-blue);
      color: var(--white);
      border-radius: 50%;
      font-size: 1.3rem;
      cursor: pointer;
    }
  }
  .nav_links {
    margin-top: 5rem;

    .nav_link {
      display: flex;
      align-items: center;
      width: 100%;
      border-radius: 6px;
      transition: all 0.3s ease;

      &:hover {
        background-color: var(--brand-blue);
        color: var(--white);
        cursor: pointer;
      }

      .nav__text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 0.9rem;
        line-height: 21px;
      }
      .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 3.75rem;
        font-size: 1.25rem;
        color: var(--slate-grey);
        &:hover {
          color: var(--brand-blue);
        }
      }
      @media only screen and (max-width: 1000px) {
        cursor: pointer;
      

        .icons{
          color:var(--slate-grey);
          &:hover{
            color:var(--brand-blue);
          }
        }
      }
    }
  }

  // code for mobile view
//  @media  only screen and ( max-width : 768px){
   
//     .nav_links{
//       color: var(--slate-grey);

    
//     }
//     .nav_link{
//       width: 100%;
//       margin-top: 0.625rem;
//     }
//     .nav__text{
//       font-size: 1.5rem;
//     }
//     .icons{
//       font-size: 1.5rem;

//       &:hover{
//         color: var(--brand-blue);
//       }
//     }
//  }
}
