.sidebar {
  // width: 100%;
  height: 100vh;
  background-color: var(--white);
  width: 300px;
  padding: 10px 14px;
  transition: all 0.5s ease-in-out;

  

  li {
    height: 3.125rem;
    // background: red;
    margin-top: 0.625rem;
    list-style: none;
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 21px;
  }

  header {
    position: relative;

    .header__text {
      display: flex;
      align-items: center;
      transition: all 0.5s ease-in-out;
      justify-content: center;
      

      &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 21px;

        text-align: center;

        /* identical to box height */

        color: var(--slate-grey);
      }
    }

    .header__icon {
      position: absolute;
      top: 50%;
      right: -9%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(-50%);
      height: 1.56rem;
      width: 1.56rem;
      background-color: var(--brand-blue);
      color: var(--white);
      border-radius: 50%;
      font-size: 1.3rem;
      cursor: pointer;
      z-index: 1;
    }
  }
  .nav_links {
    margin-top: 5rem;

    .nav_link {
      display: flex;
      align-items: center;
      width: 100%;
      border-radius: 6px;
      transition: all 0.3s ease;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 1.2rem;
      line-height: 21px;
      cursor: pointer;

      &:hover {
        background-color: var(--brand-blue);
        color: var(--white);
        
      }
      .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 3.75rem;
        font-size: 1.5rem;
        
      
      }
      
    }
  }

  // code for mobile view
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .header__text {
    display: flex;
    align-items: center;
    transition: all 0.5s ease-in-out;

    &__title {
      margin-top: 3rem;
      /* identical to box height */

      color: var(--brand-blue);
    }
  }
  .header__icon {
    margin-top: 1.3rem;
    transition: all 0.4s ease-in-out;
  }

  .icons{
    color: var(--slate-grey);
    &:hover{
      color: var(--brand-blue);
    }
  }

}
